* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#header {
  background-color: lightgrey;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*position: fixed;*/
}

#main {
  width: 70%;
  height: 100%;
  display: block;
  background-color: lightblue;
  float: left;
  padding-top: 0;
  padding-right: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 2.5%;
  /*position: fixed;*/
}

#side-bar {
  width: 30%;
  height: 100%;
  background-color: #BC8F8F;
  display: block;
  float: left;
  padding: 2.5%;
}

.album {
  width: 80%;
}

#map {
  width: 100%;
  height: 60%;
  margin-top: 2.5%;
}

#input {
  padding-bottom: 2.5%;
}

#error-msg {
  margin: 0;
}

h1, h3, h5 {
  text-align: center;
}

h1 {
  margin: 0;
}

#error-msg {
  color: #f00;
  font-weight: bold;
}

img {
  margin: 0 auto;
  display: block;
}
